In [5]:
#11.1

def hours():
    print("Open 9-5 daily")

In [7]:
import zoo
zoo.hours()

Open 9-5 daily

In [10]:
#11.2 importing zoo module as menagerie

def hours():
    print("Open 9-5 daily")

In [9]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [28]:
# 16.8 Creating books.db using the data from 16.3 and using sqlalchemy to connect to books.db and printing titles alphabetically
# This needed some extra research for me, I had to look into how to create the books.db so I could import it with sqlalchemy. Once the database was setup i was able to display all the book titles in alphabetical order.

import sqlite3

# using 16.4

conn = sqlite3.connect("books.db")
cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS book")
cur.execute("""
    CREATE TABLE book (
        title TEXT,
        author TEXT,
        year INTEGER
    )
            """)

books = [
    ("The Weirdstone of Brisingamen", "Alan Garner", 1960),
    ("Perdido Street Station", "China Mi√©ville", 2000),
    ("Thud!", "Terry Pratchett", 2005),
    ("The Spellman Files", "Lisa Lutz", 2007),
    ("Small Gods", "Terry Pratchett", 1992)
]

cur.executemany("INSERT INTO book VALUES (?, ?, ?)", books)
conn.commit()
conn.close()
print("books.db created successfully!")


# main 16.8

from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///books.db")

with engine.connect() as connection:
    result = connection.execute(text("SELECT title FROM book ORDER BY title"))
    
    for row in result:
        print(row.title)

books.db created successfully!
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!